.SubResult {
  @include radius;
  @include commonPadding;
  width: 32.5%;
  min-width: 400px;
  align-self: flex-start;
  background-color: $subredditSectionBackgroundColor;

  @include smaller() {
    width: 100%;
    min-width: 0;
  }

  h1 {
    a {
      font-size: 1.5rem;

      small {
        opacity: 0.5;
        font-weight: 200;
        display: inline-block;
        margin-right: 2px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  pre {
    font-size: 0.7rem;
  }
}
