$appBackgroundColor: #2d283f;
$white: #fff;
$black: #000;
$transparentWhite: rgba(255, 255, 255, 0.4);
$mainTextColor: #c4dac5;
$buttonBackgroundColor: #0080c0;
$buttonBackgroundColorHover: #00aaff;
$buttonBackgroundColorClicked: #a4e1ff;

$infoBoxBackgroundColor: #284068;
$alertBackgroundColor: rgb(122, 41, 41);
$postBackgroundColor: #16131f;
